.inicio {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background: linear-gradient(135deg, #1DB954, #191414);
}

.inicio-text {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
}

.inicio-login button {
    padding: 10px 20px;
    font-size: 2rem;
    color: #1DB954;
    background-color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}